<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thkoeln.fherborn.fearlesschange">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.thkoeln.fherborn.fearlesschange.ui.overview.OverviewActivity"
            android:label="@string/title_activity_overview"
            android:parentActivityName="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="de.thkoeln.fherborn.fearlesschange.ui.favorites.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="de.thkoeln.fherborn.fearlesschange.ui.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name="de.thkoeln.fherborn.fearlesschange.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.thkoeln.fherborn.fearlesschange.ui.dashboard.DashboardActivity" />
        </activity>

    </application>

</manifest>