<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.thkoeln.colab.fearlesschange">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            <meta-data-->
            <!--                android:name="android.app.default_searchable"-->
            <!--                android:value=".SearchActivity" />-->
        </activity>

        <!--        <activity-->
        <!--            android:name=".SearchActivity"-->
        <!--            android:launchMode="singleTop">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SEARCH" />-->
        <!--            </intent-filter>-->

        <!--            &lt;!&ndash; Parent activity meta-data to support 4.0 and lower &ndash;&gt;-->
        <!--            <meta-data-->
        <!--                android:name="android.support.PARENT_ACTIVITY"-->
        <!--                android:value=".view.MainActivity" />-->

        <!--            &lt;!&ndash; meta tag and intent filter go into results activity &ndash;&gt;-->
        <!--            <meta-data android:name="android.app.searchable"-->
        <!--                android:resource="@xml/searchable" />-->
        <!--        </activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.thkoeln.fearlesschange.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>